.article-pic {
  margin-top: 5%;
  width: 800px;
  height: auto;
}

.big-article {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  flex: auto;
}

.article-text {
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: large;
}

.delete-button {
  float: right;
}

.edit-button {
  float: right;
  margin-left: 5px;
}
